.card__location, .card__rooms, .card__area, .card__price {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: .5rem 2rem;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.heading-4--dark {
    color: #54483A;
}

.heading-4--light {
    color: #f9f7f6;
}

.heading-4 {
    font-size: 1.9rem;
}

.heading-3 {
    font-size: 1.6rem;
    color: #c69963;
    text-transform: uppercase;
}


.heading-2--dark {
    color: #54483A;
}

.heading-2 {
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
}